@import "bourbon";
@import "neat";
@import "helpers/fade-in";
$fade-in-time: 5s;

.fade-in{
  -webkit-animation: fadein $fade-in-time;
  -moz-animation: fadein $fade-in-time;
  -ms-animation: fadein $fade-in-time;
  -o-animation: fadein $fade-in-time;
  animation: fadein $fade-in-time;
}

body {
  margin: 2em;
  background-color: black;
}