<div class="contact-me-container">
    <a href="https://github.com/Globolobo" class="link" target="_blank" title="github">
        <img src="public/assets/svg/contact-me/github.svg" class="fade-in contact-me-svg github-svg"/>
    </a>
    <a href="mailto:sean.pichardo@gmail.com" class="link" title="email">
        <img src="public/assets/svg/contact-me/outlook.svg" class="fade-in contact-me-svg email-svg"/>
    </a>
    <a href="https://www.linkedin.com/in/sean-pichardo-91454166" target="_blank" class="link" title="linkedin">
        <img src="public/assets/svg/contact-me/linkedin.svg" class="contact-me-svg fade-in linkedin-svg"/>
    </a>
</div>
<h1 class="fade-in">{{name}}</h1>
<h2 class="fade-in">{{title}}</h2>
<!--<a [routerLink]="['Heroes']">Heroes</a>
<router-outlet></router-outlet>-->
